.traveller {
    width: 310px;
    background-color: #F5F5DE;
    margin: 10px auto;
    border-style: solid;
    border-color: #073950;
}

.tripInfo {
    width: 310px;
    background-color: #F5F5DE;
    margin: 10px auto;
    border-style: solid;
    border-color: #073950;
}

.textArea {
    padding: 5px;
    background-color: #F5F5DE;
}
