.tripInfo {
    width: 310px;
    margin: 10px auto;
    border-style: solid;
    border-color: #073950;
}

h2 {
    text-align: center;
    font-size: 25px;
}

.textArea {
    padding: 5px;
    background-color: #F5F5DE;
}