<div class="home">
<form (ngSubmit)="onSubmitLogin(loginForm)" #loginForm="ngForm">
  <fieldset>
    <h2>LOGIN</h2>
    <div class="field">
      <label for="user">Email: </label>
      <input type="text" name="email" [(ngModel)]="user.email" required>
    </div>
    <div class="field">
      <label for="user">Password: </label>
      <input type="password" name="password" [(ngModel)]="user.password" required>
    </div>
    <button type="submit" class="btn" [disabled]="!loginForm.valid">Login</button>
    <p class="error" *ngIf="error">{{ error }}</p>
  </fieldset>
</form>
</div>