<nav class="navbar">

  <div class="navbar-header">
     <img src="../../assets/images/logo-nav.png" alt="logo-nav">
     <a class="navbar-brand" [routerLink]="['/']">  EMPTY LUGGAGE</a>

  </div>
  <div>
      <button class="btn" *ngIf="!currentUser" type="button" [routerLink]="['/login']">Login</button>
      <button class="btn" *ngIf="!currentUser" type="button" [routerLink]="['/register']">Register</button>
      <button class="btn" *ngIf="currentUser" type="button" [routerLink]="['/mytrips']">My Trips</button>
      <button class="btn" *ngIf="currentUser" type="button" [routerLink]="['/newtrip']">Create a new trip</button>
      <button class="btn" *ngIf="currentUser" type="button"  (click)="logout()">Logout</button>

  </div>
  
</nav>
