/* You can add global styles to this file, and also import other style files */
body {
    font-size: 16px;
    color: #073950;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(248, 248, 237);

}
input {
    background-color: rgb(197, 197, 121);
    border-color: #073950; 
}

button {
    background-color: rgb(197, 197, 121);
    color: #073950;
    border-color: #073950; 
}

a {
    color: inherit;
    text-decoration: inherit;
  }


  ss-multiselect-dropdown  {
    
        background-color: rgb(197, 197, 121);
        color: #073950;
        border-color: #073950; 
    }

.btn-secondary {

    background-color: rgb(197, 197, 121);
    color: #073950;
    border-color: #073950; 

}