<div class="home">

  <form (ngSubmit)="onSubmitTrip(newTripForm)" #newTripForm="ngForm">
      <fieldset>

        <h3>NEW TRIP</h3>
        
        <div class="field">
            <h6>From</h6>
            <label for="fromCity">City</label>
            <input type="text" [(ngModel)]="newTrip.from.city" name="fromCity">
            <label for="fromCountry">Country</label>
            <input type="text" [(ngModel)]="newTrip.from.country" name="fromCountry">
        </div>
        <div class="field">
            <label for="departureDateTime">Departure</label>
            <input ngui-datetime-picker type="text" [(ngModel)]="newTrip.departureDateTime" name="departureDateTime">
        </div>
        
        <div class="field marginTop">
            <h6>To</h6>
            <label for="toCity">City</label>
            <input type="text" [(ngModel)]="newTrip.to.city" name="toCity">
            <label for="toCountry">Country</label>
            <input type="text" [(ngModel)]="newTrip.to.country" name="toCountry">
        </div>
        <div class="field">
            <label for="arrivalDateTime">Arrival</label>
            <input ngui-datetime-picker type="text" [(ngModel)]="newTrip.arrivalDateTime" name="arrivalDateTime">
        </div>

        <div class="field marginTop">
            <label class="h6" for="weight">Weight (kg):</label>
            <input type="text" [(ngModel)]="newTrip.bag.weight" name="weight">
        </div>

        <div class="field marginTop">
            <h6>Dimensions</h6>
            <label for="high">High (cm):</label>
            <input type="text" [(ngModel)]="newTrip.bag.high" name="high">
            <label for="width">Width (cm):</label>
            <input type="text" [(ngModel)]="newTrip.bag.width" name="width">
        </div>

        <div class="field marginTop">
          <h3>Restrictions</h3>
          <ss-multiselect-dropdown class="clear" name="restrictions" [options]="restrictions" [(ngModel)]="newTrip.bag.restrictions"></ss-multiselect-dropdown>
        </div>
        
        
        <button type="submit" class="btn btn-sm">Create Trip</button>
        <p class="error" *ngIf="error">{{ error }}</p>

      </fieldset>

  </form>

</div>
